<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>userList</title>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="css/main.css" type="text/css" rel="stylesheet"/>
    <link href="css/paging.css" type="text/css" rel="stylesheet"/>
    <style>


    </style>
</head>
<body>
<div style="border:#DDDDDD solid 1px;margin-top: 10px;padding: 10px;margin-left: 250px;height:700px;" id="content_box">
    <span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    当前位置：用户管理&nbsp;&gt;&nbsp;用户查询


    <hr/>
    <form action="" id="userform">

        用户名：<input name="username" id="username" style="height: 35px;" class="inputCss"
                   th:value="${blurUser}==null? '':${blurUser.username}"/>&nbsp;&nbsp;
        用户状态：<select name="status" id="status" style="height: 35px;" class="inputCss"
                     th:value="${blurUser}==null? '':${blurUser.status} ">
        <option value="">----全部----</option>
        <option value="1" th:selected="${blurUser}==null? '':(${blurUser.status}==1?true:false)">管理员</option>
        <option value="2" th:selected="${blurUser}==null? '':(${blurUser.status}==2?true:false)">会员</option>
    </select>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" value="搜索" class="btn btn-success" id="selectUser"/>&nbsp;
        <input type="button" class="btn btn-danger" value="删除" id="dropUser"/>

        <br/><br/>
        <table cellspacing="0" cellpadding="" class="table table-hover table-striped" style="text-align: center;"
               id="user_tab">
            <tr id="tr_th">
                <th><input type="checkbox" name="caption" value="0" id="checkAll"/></th>
                <th>登录名</th>
                <th>状态</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            <tr th:each="user:${userVOList}">
                <td><input type="checkbox" name="caption"
                           th:id="'box_'+${user.id}" th:value="${user.id}"/></td>
                <td>[[${user.username}]]</td>
                <td th:if="${user.status}==1">管理员</td>
                <td th:if="${user.status}==2">会员</td>
                <td>
                    <div th:text="${#dates.format(user.createDate,'yyyy年MM月dd日 HH时mm分ss秒')}"></div>
                </td>
                <td><a th:href="'editUser?userId='+${user.id}"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
        </table>

    </form>
    <!--分页元素-->
    <div class="box" id="box"></div>
    <!--添加表单提交标志-->
    <form id="pageForm" style="display: none">
        <input name="username" th:value="${blurUser}==null? '':${blurUser.username}"/>&nbsp;&nbsp;
        <input name="status" th:value="${blurUser}==null? '':${blurUser.status} "/>
        <input type="text" id="pages" name="page"/>

        <input type="button" id="btn" value="tijiao"/>
        <!--传入分页的参数-->
        <input type="text" id="actionName" value="selectUser"/>
    </form>

    <script src="js/jquery-1.12.4.js" type="application/javascript" charset="UTF-8"></script>
    <script src="js/bootstrap.js" type="application/javascript" charset="UTF-8"></script>
    <script src="js/paging.js" type="application/javascript"></script>
    <script type="text/javascript" th:inline="javascript">

        $(function () {
            //不能删除正在登陆的用户
            var isDeleteItself = [[${isDeleteItself}]];
            if (isDeleteItself) {
                alert("不能删除正在登录的用户");
            }
            //表头元素居中
            $("th").css("text-align", "center");
            var window_width = $(window).width();
            var window_height = $(window).height();
            $("#content_box").attr("width", window_width - 250 - 250);

        })
        /*提交查询*/
        $("#selectUser").click(function () {
            $("#userform").attr("action", "selectUser");
            $("#userform").submit();
        });
        /*提交删除*/
        $("#dropUser").click(function () {
            var chex = $("input[id^='box_']:checked");
            if (chex.length == 0) {
                alert("请选择你要删除的用户");
            } else {
                if (confirm("确定要删除该用户吗？")) {
                    $("#userform").attr("action", "deleteUsers");
                    $("#userform").submit();
                }
            }

        });

        /* 全选和反选*/
        $("#checkAll").click(function () {

            $("input[id^='box_']").prop("checked", this.checked);
        });

        //分页逻辑
        var setTotalCount = [[${pageInfo.total}]];
        var spageNum = [[${pageInfo.pages}]];
        var initPageNos = [[${pageInfo.pageNum}]]
        $('#box').paging({
            initPageNo: initPageNos, // 初始页码
            totalPages: spageNum, //总页数
            totalCount: '合计 ' + setTotalCount + ' 条数据', // 条目总数
            slideSpeed: 600, // 缓动速度。单位毫秒
            jump: true, //是否支持跳转
            callback: function (page) { // 回调函数
                //给标志赋值
                $("#pages").val(page);
            }
        })


    </script>
</body>
</html>
