<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>right</title>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="css/main.css" type="text/css" charset="UTF-8" rel="stylesheet"/>
</head>
<body>
<div style="border:#DDDDDD solid 1px;width: 100%;height:800px;margin-top: 10px;margin-left:  250px;padding: 10px;"
     id="content_box">
    <div style="position: absolute;left: 50%;left:41%;">
        <h1 style="margin-left: 50px;">欢迎您的登录</h1>
        <img src="img/welcome.gif"></div>
</div>


</body>
<!--引入js文件-->
<script src="js/jquery-1.12.4.js" type="application/javascript" charset="UTF-8"></script>
<script src="js/bootstrap.js" type="application/javascript" charset="UTF-8"></script>
<script type="application/javascript">

</script>
</html>
