<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>employEdit</title>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="css/main.css" type="text/css" charset="UTF-8" rel="stylesheet"/>


</head>
<body>

<div style="border:#DDDDDD solid 1px;height: 600px;margin-top: 10px;padding: 10px;margin-left:  250px;"
     id="content_box">
    <div id="schedule-box" class="boxshaw hidden "></div>
    <span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    当前位置：员工管理&nbsp;&gt;&nbsp;修改员工
    <hr/>
    <!--添加成功字样-->
    <div id="addInfo"></div>
    <div id="error" style="color:#FF0000;font-size:14px ;height: 20px;"></div>
    <form id="employform">
        <table id="employ_tab" style="width: 100%">
            <tr>
                <td>状态：</td>
                <td>
                    <select class="inputCss" id="status" name="status">
                        <option value="">--请选择员工状态--</option>
                        <option value="1" th:selected="${employEdit.status}==1">在职</option>
                        <option value="2" th:selected="${employEdit.status}==2">离职</option>
                        <option value="3" th:selected="${employEdit.status}==3">其他</option>
                    </select>
                </td>
                <td>性&nbsp;别：</td>
                <td>
                    <select class="inputCss" id="sex" name="sex">
                        <option value="">--请选择性别--</option>
                        <option value="男" th:selected="${employEdit.sex}=='男'">男</option>
                        <option value="女" th:selected="${employEdit.sex}=='女'">女</option>
                    </select>

                </td>
                <td>是否全勤：</td>
                <td>
                    <select class="inputCss" name="fullWork" id="employ_fullWork">
                        <option value="">--请输入员工是否全勤--</option>
                        <option value="是" th:selected="${employEdit.fullWork}=='是'">是</option>
                        <option value="否" th:selected="${employEdit.fullWork}=='否'">否</option>
                    </select>
                    &nbsp;
                </td>
            </tr>
            <tr style="height: 10px;">
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>姓&nbsp;名：</td>
                <td><input type="text" name="name" class="inputCss" style="width:205px;" placeholder="请输入员工姓名"
                           maxlength="20" id="employ_name" th:value="${employEdit.name}"/></td>
                <td>手&nbsp;机：</td>
                <td><input type="text" name="telphone" class="inputCss" style="width:205px;" placeholder="请输入员工联系手机号码"
                           id="employ_phone" th:value="${employEdit.telphone}"/></td>
                <td>出生日期：</td>
                <td><input type="text" name="birthday" class="inputCss" style="width:205px;" placeholder="请输入员工出生日期"
                           id="employ_birthday" th:value="${#dates.format(employEdit.birthday,'yyyy-MM-dd')}"/></td>

            </tr>
            <tr style="height: 10px;">
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>入职日期：</td>
                <td><input type="text" name="entryDate" class="inputCss" style="width:205px;" placeholder="请输入员工入职日期"
                           id="employ_entryDate" th:value="${#dates.format(employEdit.entryDate,'yyyy-MM-dd')}"/></td>
                <td>基本工资：</td>
                <td><input type="text" name="basicSalary" class="inputCss" style="width:205px;" placeholder="请输入员工的基本工资"
                           id="employ_basicSalary" th:value="${employEdit.basicSalary}"/></td>
            </tr>
            <tr style="height: 10px;">
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 10px;">
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="5" align="center"><input type="button" value="保存" class="btn btn-success" id="addbtn"/>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="reset" name="cancel" class="btn btn-danger" value="取消"/></td>
            </tr>

        </table>
        <!--隐藏域-->
        <input type="hidden" name="id" th:value="${employEdit.id}"/>
    </form>

</div>

<script src="js/jquery-1.12.4.js" type="application/javascript" charset="UTF-8"></script>
<script src="js/bootstrap.js" type="application/javascript" charset="UTF-8"></script>
<script src="laydate/laydate.js" type="text/javascript"></script>
<script src="js/common.js" type="application/javascript" charset="UTF-8"></script>
<script type="text/javascript">
    /* type */
    $(function () {

        var window_width = $(window).width();
        var window_height = $(window).height();
        $("#content_box").attr("width", window_width - 250 - 250);
        //日期插件
        laydate.render({
            elem: '#employ_entryDate',
            theme: '#13B3FD'//指定元素
            , trigger: 'click'
        });
        laydate.render({
            elem: '#employ_birthday',
            theme: '#13B3FD'//指定元素
            , trigger: 'click'
        });
    });


    $("#addbtn").click(function () {
        //获取表单值
        var status = $("#status").val();
        var sex = $("#sex").val();
        var name = $("#employ_name").val();
        var telphone = $("#employ_phone").val();
        var birthday = $("#employ_birthday").val();
        var entryDate = $("#employ_entryDate").val();
        var basicSalary = $("#employ_basicSalary").val();
        var fullWork = $("#employ_fullWork").val();
        var area = $("#employ_area").val();
        //创建正则模板
        var re = /[`~!@#$%^&*_+<>{}\\/'[\]]/im;
        var phone_regx = /^1(3|4|5|7|8)\d{9}$/;
        if (status.trim() == "") {
            $("#error").text("*请选择员工的状态");
        } else if (sex.trim() == "") {
            $("#error").text("*请选择员工的性别");
        } else if (name.trim() == "") {
            $("#error").text("*员工姓名不能为空，请补充完整");
        } else if (re.test(name.trim())) {
            $("#error").text("*员工姓名存在`~!@#$%^&*_+<>{}\'[]/等的非法字符");
        } else if (telphone.trim() == "") {
            $("#error").text("*手机不能为空，请补充完整");
        } else if (re.test(telphone.trim())) {
            $("#error").text("*手机存在`~!@#$%^&*_+<>{}\'[]/等的非法字符");
        } else if (!phone_regx.test(telphone.trim())) {
            $("#error").text("*输入的手机格式不对，请正确输入手机格式");
        } else if (birthday.trim() == "") {
            $("#error").text("*请选择员工的生日");
        } else if (entryDate.trim() == "") {
            $("#error").text("*员工的入职日期不能为空，请补充完整");
        } else if (basicSalary.trim() == "") {
            $("#error").text("*员工的基本工资，请补充完整");
        } else if (fullWork.trim() == "") {
            $("#error").text("*员工是否全勤，请补充完整");
        } else {


            $("#employform").attr("action", "saveEmploy");
            $("#employform").submit();
        }


    });

</script>

</body>
</html>
