<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>top</title>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="css/main.css" type="text/css" charset="UTF-8" rel="stylesheet"/>
</head>
<body>
<div style="border:#DDDDDD solid 1px;width: 100%;height:800px;margin-top: 10px;margin-left:  250px;padding: 10px;"
     id="content_box">
    <div style="position: absolute;left: 50%;left:40%;transform: translate(-50%, -50%);text-align: center;">
        <img src="img/404.gif"></div>
</div>
</body>
</html>
